@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-image: url('src/images/header-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

/* @media (max-width: 1295px){header{background-size: 130%;}}
@media (max-width: 990px){header{background-size: 140%;}}
@media (max-width: 860px){header{background-size: 180%;}}
@media (max-width: 1295px){header{background-size: 130%;}}
@media (max-width: 1295px){header{background-size: 130%;}} */

header div.container{
    height: 100vh;
}

header h2{
    font-size: 4rem;
    margin-right: 40%;
}

nav {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline;
}

nav li a {
    text-decoration: none;
    margin-left: 2.6rem;
    color: #ffffff;
}

nav li a:visited {color: #ffffff;}
nav li a:active{color: #ffffff;}

#logo{
    height: 40px;
    width: 40px;
    background-color: #333;
}

#sobre{
    position: relative;
    background-color: #ffffff;
    height: 50vh;
    display: flex;
    align-items: center;
}

#sobre h2{margin: 0 300px;}

#sobre .back{
    position: absolute;
    left: 10%;
    font-size: 300px;
    transform: rotate(-25deg) skew(30deg);
    color: #e2e2e2;
}

#gallery{
    background-color: #cccccc;
    padding-top: 4%;
    padding-bottom: 5%;
}

.header{
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 40%;
    max-width: 40%;
    position: relative;
}

.column img {
    height: 300px;
    width: 100%;
    vertical-align: middle;
    margin: 10%;
}

.column a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column a h3{
    position: relative;
    font-size: 34px;
    color: #000;
    padding: 0;
}

.hoverInfo {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.imgTextInfo {
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
    color: #000;
    font-size: 32px;
    /* background-color: rgba(250, 0, 0, .5); */

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hoverInfo:hover .imgTextInfo {
    opacity: 1;
}
.hoverInfo img:hover{
    filter: blur(10px) grayscale(1);
    transition: .5s linear;
}

#contato{background-color: #000000; color: #ffffff; height: 100vh;}