body{
    margin: 0;
    padding: 0;
    background-color: #130f0f;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.center{
    height: 160px;
    width: 160px;
    position: relative;
}

.center span{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10%;
    animation: rotation 2s ease infinite;
}

.center span:nth-child(2){
    animation-delay: 0.7s;
}
.center span:nth-child(1){
    animation-delay: 1.4s;
}

@keyframes rotation{
    0% {top: 0; left: 0;}

    12.5% { top: 0; left: 50%;}

    25% { top: 0; left: 50%;}

    37.5% { top: 50%; left: 50%;}

    50% { top: 50%; left: 50%;}

    62.5% { top: 50% ; left: 0;}

    75% { top: 50% ; left: 0;}

    82.5% { top: 0; left: 0;}

    100% { top: 0; left: 0;}
}